/* MOBILE FIRST  */

@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

// Variables
@maxNumberOfColumns: 12;
@desktopGridItemHeight: 50vh;
@mobileGridItemHeight: 33.33vh;
@gridGapSize: 1rem;
@fontSize: 10px;

.grid-container {
  display: grid;
  grid-template-columns: repeat(@maxNumberOfColumns, 1fr);
  grid-gap: @gridGapSize;
}

.grid-item {
  text-transform: uppercase;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: @mobileGridItemHeight;
  height: @mobileGridItemHeight;

  a,
  a:active,
  a:hover,
  a:visited {
    text-decoration: none;
    font-size: 2em;
    color: rgb(114, 114, 114);
    cursor: pointer;
  }
}

.col-6 {
  grid-column: span 6;
}

/* DESKTOP  */
@media (min-width: 980px) {
  .col-lg-4 {
    grid-column: span 4;
  }

  .banner-grid-item {
    min-height: @desktopGridItemHeight;
    height: @desktopGridItemHeight;
  }
}
